$background: #e0e0ff;
$app-color: #06880cb9;
$text-color: rgb(10, 10, 10);
$cloud-color: rgb(51, 51, 51);
$gray-color: gray;
$btn-color: rgb(214, 214, 214);
$btn-hover: #fffffff3;
$error-color: rgb(255, 255, 255);
